@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

:root {
  /* Light Theme */
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue: hsl(235, 19%, 35%);
  --color-gradient-start: hsl(192, 100%, 67%);
  --color-gradient-end: hsl(280, 87%, 65%);

  /* Dark Theme */
  --color-very-dark-blue: hsl(235, 21%, 11%);
  --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-dark-light-grayish-blue: hsl(234, 39%, 85%);
  --color-dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --color-dark-very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
}

html {
  font-size: 62.5%;
}

body,
input[type="text"],
button {
  font-family: "Josefin Sans", sans-serif, "Courier New", Courier, monospace;
  font-size: 1.8rem;
  font-weight: 400;
  background: none;
  background-color: transparent;
  border: none;
  color: var(--color-dark-grayish-blue);
}

.wrapper {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  &.light {
    background-color: var(--color-very-light-gray);
    background-image: url(../images/bg-desktop-light.jpg);
    color: var(--color-dark-grayish-blue);

    input[type="checkbox"],
    button {
      color: var(--color-dark-grayish-blue);
    }
  }

  &.dark {
    background-color: var(--color-very-dark-blue);
    background-image: url(../images/bg-desktop-dark.jpg);
    color: var(--color-dark-dark-grayish-blue);
  }
}

/* Theme LIGHT */
/* Theme DARK */

.container {
  max-width: 54rem;
  margin: 0 auto;
}

/* Header Component */

header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4.8rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.wrapper.dark .btn {
  color: var(--color-dark-dark-grayish-blue);

  &:hover {
    color: var(--color-dark-very-dark-grayish-blue-hover);
  }
}

/* TodoForm Component */

.form-control {
  background-color: white;
  width: 100%;
  height: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2.4rem;
  gap: 2.4rem;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}

.wrapper.dark .form-control {
  background-color: var(--color-very-dark-desaturated-blue);
}

.checkbox-border-wrap {
  padding: 0.1rem;
  background: var(--color-very-light-grayish-blue);
  border-radius: 50%;
}

.wrapper.dark .checkbox-border-wrap {
  background: var(--color-dark-very-dark-grayish-blue);
}

.checkbox-border-wrap:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(var(--color-gradient-start)),
    to(var(--color-gradient-end))
  );
  background: linear-gradient(
    to bottom right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: inherit;
  background-color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.wrapper.dark {
  .checkbox,
  .todo-input {
    background-color: var(--color-very-dark-desaturated-blue);
    color: #777a92;
  }
}

.form-control form {
  width: 100%;

  label {
    display: none;
  }
}

#submitNewTodo {
  display: none;
}

.todo-input {
  font-size: 1.8rem;
  border: none;

  &:focus {
    outline: none;
  }
}

.form-control form .todo-input {
  width: 100%;
}

/* TodoList Component */

.filter-control-for-mobile {
  display: none;
}

.todo-list-section {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 4.8rem;
  box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
  -webkit-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
  -moz-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
}

.wrapper.dark .todo-list-section {
  background-color: var(--color-very-dark-desaturated-blue);
  box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
  -webkit-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
  -moz-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
}

.todo-list-section .info-text {
  padding: 2.4rem;
  border-bottom: 0.1rem solid var(--color-very-light-grayish-blue);
}

.todo-list {
  list-style: none;

  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 6.4rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    gap: 2.4rem;
    border-bottom: 0.1rem solid var(--color-very-light-grayish-blue);

    &:last-child {
      border-bottom: none;
    }
  }
}

.wrapper.dark li {
  border-bottom-color: var(--color-dark-very-dark-grayish-blue-hover);
}

.todo-list li {
  label,
  input[type="checkbox"] {
    display: none;
  }

  &.completed {
    .checkbox-border-wrap {
      background: transparent;
    }

    .checkbox {
      background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(var(--color-gradient-start)),
        to(var(--color-gradient-end))
      );
      background-image: linear-gradient(
        to bottom right,
        var(--color-gradient-start),
        var(--color-gradient-end)
      );
    }

    p {
      color: var(--color-light-grayish-blue);
      -webkit-text-decoration-line: line-through;
      text-decoration-line: line-through;
    }
  }
}

.wrapper.dark .todo-list li.completed p {
  color: var(--color-dark-very-dark-grayish-blue);
}

.todo-filter-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2.4rem;
  border-top: 0.1rem solid var(--color-very-light-grayish-blue);
}

.wrapper.dark .todo-filter-control {
  border-top-color: var(--color-dark-very-dark-grayish-blue-hover);
}

.control-btn.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.btn.active,
.wrapper.dark .btn.active {
  color: var(--color-gradient-start);
  font-weight: 700;
}

/* Footer Component */

footer {
  line-height: 1.5;
  text-align: center;
}

a {
  color: var(--color-gradient-end);

  &:visited {
    color: var(--color-light-grayish-blue);
  }
}

/**
 * For MOBILE
 */
@media screen and (max-width: 600px) {
  .wrapper {
    padding-left: 2.4rem;
    padding-right: 2.4rem;

    &.light {
      background-image: url(../images/bg-mobile-light.jpg);
    }
  }

  .todo-list-section {
    margin-bottom: 2.4rem;
  }

  .todo-filter-control .filter-control-for-desktop {
    display: none;
  }

  .filter-control-for-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    padding: 2.4rem;
    box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
    -webkit-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
    -moz-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
    margin-bottom: 4.8rem;
  }

  /* Dark Theme */

  .wrapper.dark {
    background-image: url(../images/bg-mobile-dark.jpg);

    .filter-control-for-mobile {
      background-color: var(--color-very-dark-desaturated-blue);
      box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
      -webkit-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
      -moz-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
    }
  }
}

/*# sourceMappingURL=App.css.map */
